<div class="new">
  <h1>New comment</h1>
  <div class="form_group">
    <%= form_for [@user, @article, @comment] do |f| %>
      <%= f.text_area :body %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
