<div class="article_wrapper">
<h1>All Articles</h1>

  <% @articles.each do |article| %>
    <% author = @users.find(article.user_id) %> <%# Use this below to list author %>

  <div class="article">
    <div class="article_header">
      <%= link_to article.title, user_article_path(article.user_id, article.id) %>

      <div class="article_text">
        <%= article.body.truncate(100) %>
      </div>
    </div>

    <div class="article_details">
      <ul class="article_list">
        <li>by <%= link_to author.name, user_path(author.id) %></li>
        <li><%= article.comments.count %> Comments</li>
      </ul>
    </div>
  </div>
<% end %>
</div>
